@inherits System.Web.Mvc.WebViewPage

@{
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Admin Dashboard</h2>
<h5>Welcome, Love to see you back. </h5>

<img src="@Url.Content("~/Content/img/mainscreen.png")" alt="" class="img-responsive center-block"  />
